.slot_wrapper{
    width: 130px;
    border: 1px solid grey;
    border-radius: 2px;
}

.slot_team{
    display: flex;
    align-items: center;
    padding: 0 4px;
}

.slot_team--icon{
    width: 16px;
    height: 16px;
    display: flex;
    margin-right: 5px;
}

.slot_team--name{
    flex: 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}